<div class="row">

  <div class="w-100 px-4 py-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card h-100">
                <img class="card-img-top" src="{{ theme_path }}/images/logo.png" >
                <div class="card-body">
                  {{- page.content -}}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
